html,
body {
    width: 100%;
    background-color: #EAEDF2;
    margin: 0;
    font-family: AvantGardeGothicITCW01Md;
}

.header {
    height: auto;
    background-color: #26a69a;
    padding: 0;
}

.header_inner {
    width: 92%;
}

.header_inner_craft {
    display: block;
    height: auto;
    margin: 0;
    padding: 10px;
    text-align: center;
    line-height: 1.5;
    color: #eaedf2;
}

.header_inner_catchCopy {
    display: block;
    float: none;
    text-align: center;
    color: #eaedf2;
    padding: 0;
    margin: 0;
}

.use_thankyou {
    width: 100%;
}

.user_thankyou_inner {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user_thankyou_inner_logoBox {
    border: 3px solid gold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_thankyou_inner_logo {
    content: '';
    width: 100px;
    height: 100px;
    border-left: 3px solid #9c9c9c;
    border-bottom: 3px solid #9c9c9c;
    transform: rotate(-45deg);
}