/* 全体 */
html, body {
    width: 100%;
    margin: 0;
}

body {
    font-family: "メイリオ";
    letter-spacing: .04em;
    background-color: rgba(0, 0, 0, 0.07);
}


a:link{
    text-decoration: none;
    color: black;

}

a:visited{
    color: black;
}

a:hover {
    color: red;
}

header {
    font-size: 25px;
    background-color: #C4C4C4;
    height: 65px;
}

.header_inner {
    display: flex;
    height: 60px;
    align-items: end;
    gap: 20%;
}

.page_name {
    margin-left: 30px;
}

main {
    margin-top: 5%;
}

.displayed_content {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.agency_info_wrapper{
    margin-top: 40px;
    border: 1px solid black;
    width: 80%;
    margin: 0px auto 0px auto;
    font-size: 18px;
}


.agency_info_inner ol {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 35px;
    background-color: #ffff;
    display: flex;
    gap: 40px;
}

.agency_info_inner ol:hover {
    box-shadow: 4px 7px 1px rgba(0, 0, 0, 0.10);
}

