/*************** login ***************/
.login_whole {
  padding: 100px 0;
}

.login_title {
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_small_box {
  margin: 10px 0;
  background-color: silver;
  height: 35px;
  width: 45%;
}

.login_box {
  margin: 10px 0;
  background-color: #DC143C;
  color: white;
  height: 35px;
  width: 45%;
}

.password {
  text-align: center;
}

/*************** header ***************/
.title_underline {
  border-bottom: 2px solid black;
  display: inline-block;
  font-size: 30px;
  margin: 20px 0px 10px 60px;
}

.subtitle {
    display: flex;
    justify-content: space-evenly;
    background: silver;
    box-shadow: 3px 3px 3px rgb(204 204 204);
  }

.menu {
  display: flex;
  font-weight: bold;
  font-size: 18px;
  padding-top: 8px;
}

.menu-list {
  list-style: none;
}

/* ヘッダー内の文字に触れた時 */
.menu-list a:hover {
  background-color: skyblue;
  color: white;
  border-radius: 15px;
  transition: 0.3s;
}

/* ヘッダー内文字 */
.menu-list a {
    text-decoration: none;
    color: black;
    padding: 0 10vw;
}

/*************** index ***************/
.private_small_box {
  list-style: none;
  background-color: silver;
  text-align: center;
  padding: 8px 0;
  margin: 20px 0;
}

.private_small_box a {
  text-decoration: none;
  color: black;
}

/*************** detail ***************/
.span {
  margin: 30px 150px;
}

.detail_box {
  background-color: silver;
  margin: 50px 150px 0 150px;
  padding: 20px 0 20px 50px;
  /* text-align: center; */
}

.button {
  text-align: right;
  padding-right: 25px;
  margin-top: -40px;
}

.button a {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 5px 20px;
}

/*************** admininfo ***************/
.edit_button {
  display: block;
  padding: 5px 20px;
  background-color: white;
  border-radius: 20rem;
  cursor: pointer;
  margin: -150px 180px 0 auto;
  color: #000;
  text-decoration: none;
  width: 5%;
}

.list_box {
  background-color: silver;
  margin: 180px 150px 0 150px;
  padding: 20px 0 20px 50px;
}

.small_list_box {
  display: flex;
  justify-content: space-between;
}

.email {
  list-style: none;
  margin: 5px 0;
}

.trash {
  margin-right: 50px
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

.modal_switch {
  display: block;
  padding: 5px 20px;
  background-color: white;
  border-radius: 20rem;
  cursor: pointer;
  margin: -170px 180px 0 auto;
  color: #000;
  text-decoration: none;
  width: 5%;
}

#modal{
  position:absolute;
  display:none;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.7);
  border:0;
  margin:0;
  padding:0;
}
#modal[data-view="1"]{
  display:block;
  animation: modal-bg-view 0.3s linear forwards;
}
#modal[data-view="0"]{
  display:block;
  animation: modal-bg-hidden 0.3s linear forwards;
}

#modal > .modal_window{
  position:absolute;
  display:block;
  border-radius:4px;
  padding:10px 20px;
  background-color:white;
  white-space:nowrap;
  margin: 250px 500px;
}
#modal[data-view="1"] > .modal-window{
  animation: modal-window-view 0.3s linear forwards;
}
#modal[data-view="0"] > .modal-window{
  animation: modal-window-hidden 0.3s linear forwards;
}

@keyframes modal-bg-view{
  0%{
    opacity:0.0;
    visibility:hidden;
  }
  100%{
    opacity:1.0;
    visibility:visible;
  }
}
@keyframes modal-bg-hidden{
  0%{
    opacity:1.0;
    visibility:visible;
  }
  100%{
    opacity:0.0;
    visibility:hidden;
  }
}
@keyframes modal-window-view{
  0%{
    transform:translate(0,-50%);
  }
  100%{
    transform:translate(0,0);
  }
}
@keyframes modal-window-hidden{
  0%{
    transform:translate(0,0);
  }
  100%{
    transform:translate(0,-50%);
  }
}

.add_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm_button {
  display: block;
  padding: 5px 10px;
  background-color: silver;
  border-radius: 20rem;
  cursor: pointer;
  color: #000;
  text-decoration: none;
  width: 10%;
  margin-right: 0;
  margin-left: auto;
}

/*************** contact ***************/
.inquary_header_bg {
  margin: auto;
  width: 400px;
  background: #C1E5E2;
}

.inquary_header_title {
  text-align: center;
  margin-top: 40px;
}

.inquary_header_prompt {
  font-size: 14px;
  text-align: center;
}

.inquary_content {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.inquary_content_innerFrame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inquary_content_inner {
  width: 70%;
  background-color: #e6e6e6;
}

.input[type=checkbox] {
	display: none;
}

.checkbox {
  margin: 0 10px;
}

.checkbox_title {
  font-size: 16px;
}

.consul {
  margin-right: 40px;
}

.inquary_content_inner_consul,
.inquary_content_inner_name,
.inquary_content_inner_mail,
.inquary_content_inner_phone,
.inquary_content_inner_message,
.inquary_content_inner_message_detail {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inquary_content_inner_consul_title,
.inquary_content_inner_name_title,
.inquary_content_inner_mail_title,
.inquary_content_inner_phone_title,
.inquary_content_inner_message_title,
.inquary_content_inner_message_detail_title {
  color: #000;
  line-height: 1.5;
  font-size: 20px;
  text-align: left;
  width: 30%;
}

.inquary_contet_inner_consul_enter,
.inquary_contet_inner_name_enter,
.inquary_contet_inner_mail_enter,
.inquary_contet_inner_phone_enter,
.inquary_contet_inner_messae_enter,
.inquary_contet_inner_messae_detail_enter {
  display: flex;
  align-items: center;
  line-height: 1.5;
  font-size: 12px;
}

.inquary_content_inner_name_enter_box,
.inquary_content_inner_mail_enter_box,
.inquary_content_inner_phone_enter_box,
.inquary_content_inner_message_enter_box,
.inquary_content_inner_message_detail_enter_box {
  width: 100%;
  font-weight: inherit;
}

.inquary_content_inner_name_enter_text,
.inquary_content_inner_mail_enter_text,
.inquary_content_inner_phone_enter_text,
.inquary_content_inner_message_enter_text,
.inquary_content_inner_message_detail_enter_text {
  display: block;
  width: auto;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.inquary_content_inner_submit {
  list-style-type: none;
  font-weight: inherit;
  width: 100%;
  padding: 0 85px;
  padding-bottom: 10px;
  margin: 0
}

.inquary_content_inner_submit:hover {
  background-color: white;
  margin: 0;
}

.inquary_content_inner_submit_button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  padding: 0 1em;
  border: 1px solid black;
  border-radius: 0;
  background-color: transparent;
  color: black;
  font-family: montserrat, sans-serif;
  font-weight: normal;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  appearance: none;
  padding: 0;
}